.ngx-charts-outer .ngx-charts {
    margin-top: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.gauge .gauge-tick path {
    stroke: #003665 !important;
}

.center {
    text-align: center;
}