<!-- <div *ngIf="!f_monthly_usage && !f_application_usage && !f_menu_usage && !f_job_usage" class="loader">
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div> -->
<div class="content-container">
  <main class="content-area">

    <h1 class="center">MONTHLY COLLECTION DASHBOARD</h1>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">% NCL</h4>
            <p class="card-text" style="width: 25% !important;">
              <ngx-charts-gauge *ngIf="data_gauge" [animations]="animations" [view]="view_gauge2" [scheme]="colorScheme"
                [results]="data_gauge" [legend]="showLegend"></ngx-charts-gauge>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">NCL/10<sup>6</sup></h4>
            <p class="card-text" style="width: 25% !important;">
              <ngx-charts-gauge *ngIf="data_gauge" [animations]="animations" [view]="view_gauge2" [scheme]="colorScheme"
                [results]="data_gauge" [legend]="showLegend"></ngx-charts-gauge>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">LOR/10<sup>6</sup></h4>
            <p class="card-text" style="width: 25% !important;">
              <ngx-charts-gauge *ngIf="data_gauge" [animations]="animations" [view]="view_gauge" [scheme]="colorScheme"
                [results]="data_gauge" [legend]="showLegend"></ngx-charts-gauge>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">WO/10<sup>6</sup></h4>
            <p class="card-text" style="width: 25% !important;">
              <ngx-charts-gauge *ngIf="data_gauge" [animations]="animations" [view]="view_gauge" [scheme]="colorScheme"
                [results]="data_gauge" [legend]="showLegend"></ngx-charts-gauge>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">NCI NET/10<sup>6</sup></h4>
            <p class="card-text" style="width: 25% !important;">
              <ngx-charts-gauge *ngIf="data_gauge" [animations]="animations" [view]="view_gauge" [scheme]="colorScheme"
                [results]="data_gauge" [legend]="showLegend"></ngx-charts-gauge>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">COLLECTION EFFECTIVENESS PERFORMANCE</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">COLLECTION EFFECTIVENESS PERFORMANCE</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_bar" [dataFormat]="dataFormat" [dataSource]="dataSourceBar"
                style="display: inline-block !important;">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">AR VS BALANCE AR</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource2">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">LOSSES PERFORMANCE</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource3">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">UNIT REPO BY OVD</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_line" [dataFormat]="dataFormat" [dataSource]="dataSourceLine">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">AMOUNT REPO BY OVD</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_line" [dataFormat]="dataFormat" [dataSource]="dataSourceLine"
                style="display: inline-block !important;">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">PERFORMANCE REPO, SOLD, STOCK BY UNIT</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="full_widt" [height]="height" [type]="type_bar" [dataFormat]="dataFormat"
                [dataSource]="dataSourceBar" style="display: inline-block !important;">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">REPO BY PORTOFOLIO</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">REPO BY OBJECT YEAR</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">REPO BY LAST INSTALLMENT NUMBER</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">REPO BY GROUP DP</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">UNIT SOLD BY OBJECT YEAR</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">UNIT SOLD BY LAST INSTALLMENT NUMBER</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">RR PCT BY OBJECT YEARS</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <div class="progress top loop" max="100"><progress></progress></div>
            <h4 class="card-title center">RR PCT BY LAST INSTALLMENT NUMBER</h4>
            <p class="card-text" style="width: 100% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type_stack_col" [dataFormat]="dataFormat"
                [dataSource]="dataSourceStackCol">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  </clr-vertical-nav>
</div>