<!-- <div *ngIf="!f_monhtly_usage && !f_application_usage && !f_menu_usage && !f_job_usage" class="loader">
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div> -->

<div class="content-container">
  <main class="content-area">

    <h1 class="center">DUREN TIGA</h1>
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="6">Unit Booking IR</th>
                      <th class="center table-header" colspan="4">MTD Target Mei</th>
                      <th class="center table-header" colspan="4">MOM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">Mar_18</td>
                      <td rowspan="2" class="middle-center">Apr_18</td>
                      <td rowspan="2" class="middle-center">Mei_18</td>
                      <td colspan="2" class="header2">Growth</td>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">Target</td>
                      <td rowspan="2" class="middle-center">Realisasi</td>
                      <td rowspan="2" class="middle-center">Acv %</td>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">May-17</td>
                      <td rowspan="2" class="middle-center">Mey-18</td>
                      <td rowspan="2" class="middle-center">Growth</td>
                      <td rowspan="5" style="vertical-align: bottom">JUTAAN</td>
                    </tr>
                    <tr>
                      <td class="header2">Mar-Apr</td>
                      <td class="header2">Apr-Mei</td>
                    </tr>
                    <tr>
                      <td class="header2">Unit</td>
                      <td>500</td>
                      <td>541</td>
                      <td>392</td>
                      <td>7.58%</td>
                      <td>-38.01%</td>
                      <td class="middle-center">Unit</td>
                      <td>746</td>
                      <td>392</td>
                      <td>52.53%</td>
                      <td class="middle-center">Unit</td>
                      <td>834</td>
                      <td>392</td>
                      <td>-53.00%</td>
                    </tr>
                    <tr>
                      <td class="header2">Amount</td>
                      <td>27,427</td>
                      <td>46,814</td>
                      <td>36,758</td>
                      <td>41.41%</td>
                      <td>-27.35%</td>
                      <td class="middle-center">Amount</td>
                      <td>22,594</td>
                      <td>36,758</td>
                      <td>162.69%</td>
                      <td class="middle-center">Amount</td>
                      <td>31,672</td>
                      <td>36,758</td>
                      <td>16.06%</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="6">Average Booking IR/ Day</th>
                      <th class="center table-header" colspan="4">YTD Target Jan - Mei 2018</th>
                      <th class="center table-header" colspan="4">YOY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">Mar (25)</td>
                      <td rowspan="2" class="middle-center">Apr (24)</td>
                      <td rowspan="2" class="middle-center">Mei (24)</td>
                      <td colspan="2" class="header2">Growth</td>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">Target</td>
                      <td rowspan="2" class="middle-center">Realisasi</td>
                      <td rowspan="2" class="middle-center">Acv %</td>
                      <td rowspan="2" class="middle-center"></td>
                      <td rowspan="2" class="middle-center">May-17</td>
                      <td rowspan="2" class="middle-center">Mey-18</td>
                      <td rowspan="2" class="middle-center">Growth</td>
                    </tr>
                    <tr>
                      <td class="header2">Mar-Apr</td>
                      <td class="header2">Apr-Mei</td>
                    </tr>
                    <tr>
                      <td class="header2">AVG Unit</td>
                      <td>20</td>
                      <td>23</td>
                      <td>16</td>
                      <td>11.28%</td>
                      <td>-38.01%</td>
                      <td class="header2">Unit</td>
                      <td>6,789</td>
                      <td>4,587</td>
                      <td>67.57%</td>
                      <td class="header2">Unit</td>
                      <td>9,485</td>
                      <td>4,587</td>
                      <td>-51.64%</td>
                    </tr>
                    <tr>
                      <td class="middle-center">AVG Amount</td>
                      <td>1,097</td>
                      <td>1,951</td>
                      <td>1,532</td>
                      <td>43.76%</td>
                      <td>-27.35%</td>
                      <td class="middle-center">Amount</td>
                      <td>124,587</td>
                      <td>54,784</td>
                      <td>43.97%</td>
                      <td class="middle-center">Amount</td>
                      <td>105,428</td>
                      <td>54,784</td>
                      <td>-48.04%</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder col-lg-12">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="6">Actual</th>
                      <th colspan="2" class="middle-center">&nbsp;</th>
                      <th class="center table-header" colspan="6">Proyeksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center">IN AMOUNT</td>
                      <td rowspan="2" class="middle-center">Mar (25)</td>
                      <td rowspan="2" class="middle-center">Apr (24)</td>
                      <td rowspan="2" class="middle-center">Mei (24)</td>
                      <td colspan="2" class="middle-center">Diff</td>
                      <td class="middle-center" rowspan="2">Target</td>
                      <td class="middle-center" rowspan="2">Realisasi</td>
                      <td rowspan="2" class="middle-center">IN AMOUNT</td>
                      <td rowspan="2" class="middle-center">Mar (25)</td>
                      <td rowspan="2" class="middle-center">Apr (24)</td>
                      <td rowspan="2" class="middle-center">Mei (24)</td>
                      <td colspan="2" class="middle-center">Diff</td>
                    </tr>
                    <tr>
                      <td class="middle-center">Mei-Apr</td>
                      <td class="middle-center">Mei-Mar</td>
                      <td class="middle-center">Mei-Apr</td>
                      <td class="middle-center">Mei-Mar</td>
                    </tr>
                    <tr>
                      <td class="header2">FPD</td>
                      <td>1.20%</td>
                      <td>1.10%</td>
                      <td>1.15%</td>
                      <td>0.05%</td>
                      <td>-0.05%</td>
                      <td>0.75%</td>
                      <td>46.67%</td>
                      <td class="header2">FPD</td>
                      <td>2.40%</td>
                      <td>2.20%</td>
                      <td>2.30%</td>
                      <td>0.10%</td>
                      <td>-0.10%</td>
                    </tr>
                    <tr>
                      <td class="header2">F3PD</td>
                      <td>4.80%</td>
                      <td>4.40%</td>
                      <td>4.83%</td>
                      <td>0.43%</td>
                      <td>0.03%</td>
                      <td>4.00%</td>
                      <td>79.25%</td>
                      <td class="header2">F3PD</td>
                      <td>9.60%</td>
                      <td>8.80%</td>
                      <td>9.66%</td>
                      <td>0.86%</td>
                      <td>0.06%</td>
                    </tr>
                    <tr>
                      <td class="header2">30+@6MOB</td>
                      <td>2.40%</td>
                      <td>2.42%</td>
                      <td>2.30%</td>
                      <td>-0.12%</td>
                      <td>-0.10%</td>
                      <td>1.50%</td>
                      <td>46.67%</td>
                      <td class="header2">30+@6MOB</td>
                      <td>4.80%</td>
                      <td>4.84%</td>
                      <td>4.60%</td>
                      <td>-0.24%</td>
                      <td>-0.20%</td>
                    </tr>
                    <tr>
                      <td class="header2">FID9</td>
                      <td>7.20%</td>
                      <td>8.80%</td>
                      <td>8.05%</td>
                      <td>0.75%</td>
                      <td>0.85%</td>
                      <td>4.90%</td>
                      <td>35.71%</td>
                      <td class="header2">FID9</td>
                      <td>14.40%</td>
                      <td>17.60%</td>
                      <td>16.10%</td>
                      <td>-1.50%</td>
                      <td>1.70%</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder col-lg-6">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="7">UNIT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center">PORTOFOLIO</td>
                      <td colspan="3" class="middle-center">Apr_18</td>
                      <td colspan="3" class="middle-center">Mei_18</td>
                    </tr>
                    <tr>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                    </tr>
                    <tr>
                      <td>NMCY</td>
                      <td>7,116</td>
                      <td>7,502</td>
                      <td>175</td>
                      <td>6,961</td>
                      <td>7,405</td>
                      <td>127</td>
                    </tr>
                    <tr>
                      <td>UMCY</td>
                      <td>5,021</td>
                      <td>5,132</td>
                      <td>108</td>
                      <td>5,239</td>
                      <td>5,399</td>
                      <td>78</td>
                    </tr>
                    <tr>
                      <td>NCAR</td>
                      <td>1,268</td>
                      <td>1,398</td>
                      <td>76</td>
                      <td>1,266</td>
                      <td>1,430</td>
                      <td>55</td>
                    </tr>
                    <tr>
                      <td>UCAR</td>
                      <td>740</td>
                      <td>785</td>
                      <td>39</td>
                      <td>736</td>
                      <td>775</td>
                      <td>28</td>
                    </tr>
                    <tr>
                      <td>MMCY</td>
                      <td>1,477</td>
                      <td>1,507</td>
                      <td>15</td>
                      <td>1,535</td>
                      <td>1,575</td>
                      <td>11</td>
                    </tr>
                    <tr>
                      <td>MCAR</td>
                      <td>698</td>
                      <td>732</td>
                      <td>28</td>
                      <td>630</td>
                      <td>645</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td>CMCY</td>
                      <td>1,249</td>
                      <td>1,326</td>
                      <td>10</td>
                      <td>1,369</td>
                      <td>1,441</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <td>CCAR</td>
                      <td>641</td>
                      <td>674</td>
                      <td>90</td>
                      <td>565</td>
                      <td>635</td>
                      <td>66</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="middle-center">
                      <td>
                        TOTAL
                      </td>
                      <td>
                        18,210
                      </td>
                      <td>
                        19,056
                      </td>
                      <td>
                        541
                      </td>
                      <td>
                        18,301
                      </td>
                      <td>
                        19,305
                      </td>
                      <td>
                        392
                      </td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder col-lg-6">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="7">AMOUNT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="3" class="middle-center">Apr_18</td>
                      <td colspan="3" class="middle-center">Mei_18</td>
                    </tr>
                    <tr>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                    </tr>
                    <tr>
                      <td>7,116</td>
                      <td>7,502</td>
                      <td>175</td>
                      <td>6,961</td>
                      <td>7,405</td>
                      <td>127</td>
                    </tr>
                    <tr>
                      <td>5,021</td>
                      <td>5,132</td>
                      <td>108</td>
                      <td>5,239</td>
                      <td>5,399</td>
                      <td>78</td>
                    </tr>
                    <tr>
                      <td>1,268</td>
                      <td>1,398</td>
                      <td>76</td>
                      <td>1,266</td>
                      <td>1,430</td>
                      <td>55</td>
                    </tr>
                    <tr>
                      <td>740</td>
                      <td>785</td>
                      <td>39</td>
                      <td>736</td>
                      <td>775</td>
                      <td>28</td>
                    </tr>
                    <tr>
                      <td>1,477</td>
                      <td>1,507</td>
                      <td>15</td>
                      <td>1,535</td>
                      <td>1,575</td>
                      <td>11</td>
                    </tr>
                    <tr>
                      <td>698</td>
                      <td>732</td>
                      <td>28</td>
                      <td>630</td>
                      <td>645</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td>1,249</td>
                      <td>1,326</td>
                      <td>10</td>
                      <td>1,369</td>
                      <td>1,441</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <td>641</td>
                      <td>674</td>
                      <td>90</td>
                      <td>565</td>
                      <td>635</td>
                      <td>66</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="middle-center">
                      <td>
                        18,210
                      </td>
                      <td>
                        19,056
                      </td>
                      <td>
                        541
                      </td>
                      <td>
                        18,301
                      </td>
                      <td>
                        19,305
                      </td>
                      <td>
                        392
                      </td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1" colspan="2">ACTUAL IN UNIT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1" colspan="2">PORTFOLIO</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">NMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">UMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">NCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">UCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">MMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">MCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">CMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left" colspan="2">CCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="column1 text-left" colspan="2">TOTAL</td>
                      <td class="column1">3,00%</td>
                      <td class="column1">4,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1">ACTUAL IN A MOUNT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1">PORTFOLIO</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                    </tr>
                    <tr>
                      <td class="text-left">NMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">UMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">NCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">UCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">MMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">MCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">CMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">CCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="column1 text-left">TOTAL</td>
                      <td class="column1">3,00%</td>
                      <td class="column1">4,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1">PROYEKSI IN A MOUNT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1">PORTFOLIO</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                      <td class="column1">Mar_18</td>
                      <td class="column1">Apr_18</td>
                      <td class="column1">Mei_18</td>
                    </tr>
                    <tr>
                      <td class="text-left">NMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">UMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">NCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">UCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">MMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">MCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">CMCY</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="text-left">CCAR</td>
                      <td>3,00%</td>
                      <td>4,00%</td>
                      <td>2,00%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>1,50%</td>
                      <td>1,00%</td>
                      <td>0,50%</td>
                      <td>2,00%</td>
                      <td>1,50%</td>
                    </tr>
                    <tr>
                      <td class="column1 text-left">TOTAL</td>
                      <td class="column1">3,00%</td>
                      <td class="column1">4,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">1,50%</td>
                      <td class="column1">1,00%</td>
                      <td class="column1">0,50%</td>
                      <td class="column1">2,00%</td>
                      <td class="column1">1,50%</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  </clr-vertical-nav>
</div>